<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Meet
      <span class="text-primary">Patel</span>
    </h1>
    <div class="subheading mb-5">Bhubaneswar,Odisha,India · (+91) 9726467772 ·
      <a href="mailto:name@email.com">meetpatel7991@gmail.com</a>
    </div>
    <p class="lead mb-5">Hi,I'm open-source enthusiast.I am a MEAN stack web developer and passionate about machine learning and computer vision.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/meet-patel-310843153/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/meetcric">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.facebook.com/defendable.meet">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://medium.com/@mp32445">
        <i class="fab fa-medium"></i>
      </a>
      
    </div>
  </div>
</section>